version: "3.8"

services:
  homecooked:
    build:
      context: .
      dockerfile: Dockerfile
    image: homecooked:latest
    ports:
      - "8000:8000"
    cap_add:
      - SYS_ADMIN
      - SYS_PTRACE
    security_opt:
      - seccomp=unconfined
    tty: true
    stdin_open: true
    restart: "no"
